.order-not-found {
    display: flex;
    flex-direction: column;
    padding: 50px 40px;
    justify-content: center;
    align-items: center;
    box-shadow: none !important;
    border: none !important;
    max-width: 350px;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.order-not-found .MuiCardContent-root {
    padding: 0 !important;
}

.order-not-found .title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    overflow: hidden;
}

.order-not-found .image {
    width: 80px;
    margin: 40px 0;
}

.order-not-found .button {
    font-size: .85rem;
    font-weight: bold;
    letter-spacing: normal;
    width: 200px;
    background-color: var(--color6);
    box-shadow: none !important;
    border: none !important;
}

@media (max-width: 719px) {
    .order-not-found {
        padding: 0 20px;
        height: 100vh;
        width: 100vw;
        max-width: 100vw;
    }

    .order-not-found .title {
        font-size: 1.4rem;
    }
}
